<div class="row">
    <div class="col-md-6 mr-2">
        <form #f="ngForm" (ngSubmit)="save(f.value)">
            <div class="form-group mt-3">
                <label for="title">Title</label>
                <input #titleRef="ngModel" [(ngModel)]="product.title" name="title" id="title" type="text" class="form-control" required>
                <div *ngIf="titleRef.touched && !titleRef.valid" class="alert alert-danger">The title is required!</div>
            </div>
            <div class="form-group mt-3">
                <label for="price">Price</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">$</span>
                    </div>
                    <input #priceRef="ngModel" [(ngModel)]="product.price" name="price" id="price" type="number" class="form-control" required [min]="0">
                </div>
                <div *ngIf="priceRef.touched && !priceRef.valid" class="alert alert-danger">
                    <div *ngIf="priceRef.errors?.required" >The price is required!</div>
                    <div *ngIf="priceRef.errors?.min" >The price  should be 0 or higher!</div>
                </div>
            </div>
            <div class="form-group mt-3">
                <label for="category">Category</label>
                <select #categoryRef="ngModel" [(ngModel)]="product.category" name="category" id="category" class="form-control" required>
                    <option value=""></option>
                    <option *ngFor="let c of categories$ | async" [value]="c.key">{{c.value.name}}</option>
                </select>
                <div *ngIf="categoryRef.touched && !categoryRef.valid" class="alert alert-danger">The category is required!</div>
            </div>
            <div class="form-group mt-3">
                <label for="imageUrl">Image URL</label>
                <input #imageUrlRef="ngModel" [(ngModel)]="product.url" name="imageUrl" id="imageUrl" type="text" class="form-control" required url>
                <div *ngIf="imageUrlRef.touched && !imageUrlRef.valid" class="alert alert-danger">
                    <div *ngIf="imageUrlRef.errors?.required">The Image URL is required!</div>
                    <div *ngIf="imageUrlRef.errors?.url">The image url should be a valid URL!</div>
                </div>
            </div>
            
            <button class="btn btn-primary mt-3">Save</button>
            <button (click)="delete()" type="button" class="btn btn-danger  mt-3 mx-2">Delete</button>
            </form>
    </div>
    <div class="col-md-6 ml-2">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" [src]="imageUrlRef.value">
            <div class="card-body">
                <h5 class="card-title">{{titleRef.value}}</h5>
                <p class="card-text">{{priceRef.value | currency :'USD' : "symbol"}}</p>
            </div>
          </div>
    </div>
</div>